PORT=5000
NODE_ENV=development
DATABASE_URL=mongodb+srv://<username>:<password>@cluster0.mongodb.net/mini-erp?retryWrites=true&w=majority
BCRYPT_SALT_ROUNDS=12
JWT_ACCESS_SECRET=your_super_secret_jwt_access_key_123!@#
JWT_ACCESS_EXPIRES_IN=1d

# default admin created on first boot (used only if no admin exists yet)
ADMIN_EMAIL=admin@test.com
ADMIN_PASSWORD=pass1234

CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# cors origins for express and socket io (comma separate for many, * allows any)
CLIENT_URL=http://localhost:5173
